body {
  margin: 0;
}

.container {
  background: #333;
  padding: 1rem;
  margin-top: 1rem;
  width: 50%;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

.draggable.dragging {
  opacity: 0.5;
}

.drag {
  cursor: move;
}

.pointer {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  padding: 10px;
  color: var(--secondary-txt-color);
}

.grid-item {
  padding: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 3% 3% 91% 3%;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: none;
  outline: none;
  font-size: 35px;
}

.dot:active {
  font-weight: bold;
}

.add {
  padding: 10px;
  display: grid;
  width: 100%;
  margin-left: -20px;
  place-items: center;
}

.checked {
  text-decoration: line-through;
  opacity: 0.8;
}

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  white-space: nowrap;
  font-family: sans-serif;
  background: rosybrown;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease;
  user-select: none;
}

.custom-menu li:hover {
  background-color: #def;
}
